/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*custom*/
:root {
    --textLight: rgb(76, 76, 77);
    --primary: rgb(214, 83, 35);
}

*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

input, button{
    box-shadow: none;
    outline: 0;
    border: 0;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--textLight);
    padding-bottom: 300px;
}
.container{
    max-width: 1380px;
    width: 100%;
    margin: 0 auto;;
}

.padding{
    padding: 100px 0;
}

/*flex*/
.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}
.justify-end{
    justify-content: end;
}
.stretch{
    align-items: stretch;
}
.item-start{
    align-items: flex-start;
}

.item-center{
    align-items: center;
}

.column{
    flex-direction: column;
}

.flex-20{
    flex: 0 1 20%;
}
.flex-30{
    flex: 0 1 30%;
}
.flex-50{
    flex: 0 1 50%;
}
.flex-48{
    flex: 0 1 48%;
}
.flex-65{
    flex: 0 1 65%;
}
.gro{
    flex: 1 1 auto;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    display: inline-block;
    padding: 12px 16px;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    cursor: pointer;
    background-color: var(--primary);
    color: #fff;
    transition: all 200mx ease-in-out;
}

.btn:hover{
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    opacity: 0.8;
}

.text-center{
    text-align: center;
}

.text-primary{
    color: var(--primary);
}

.font-0{
    font-size: 0;
}

.width-full {
    width: 100%;
}

.wrap {
    flex-wrap: wrap;
}

/*navbar*/

.navbar{
    padding: 16px 0;
    position: absolute;
    top:0;
    width:100%;
    z-index: 99;
    background-color: rgba(255,255,255, 0.2);
}

.brand {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.nav-menu-item{
    margin-left: 32px;
}
.nav-menu-item a{
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;

}

.nav-menu-item .active {
    color: var(--primary);
}

.nav-menu-item a:hover {
    color: var(--primary);
}
.nav-menu .btn{
    margin-left:20px;
}

.bg-video{
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

.hero{
    position: relative;
    color: #fff;
}
.overlay{
    position: absolute;
    left: 0;
    right:0;
    top:0;
    bottom:0;
    background-color: rgba(35,45,56, 0.5);
}
.hero-subheading{
    font-size: 20px;
    text-transform: uppercase;  
}

.hero-heading{
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
}
.hero .btn{
    font-size: 16px;
}
.hero-heading strong{
    color: var(--primary);
}

.sec-header{
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 32px;
}
.sec-header p{
    margin-top: 16px;
    font-weight: 300;
}

.heading {
    font-size: 32px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.heading strong{
    color: var(--primary);
}
.program-item{
    margin-left: 24px;
}
.program-item h5{
    font-weight: 500;
    font-size: 20px;
}
.program-item p{
    font-weight: 500;
    margin-bottom: 6px;
}
.program-item a{
    color:var(--primary);
    text-transform:capitalize;
}
.padding-small{
    padding: 30px 10px 0 0;
}

.cta {
    background: url(assets/cta-bg.jpg), no-repeat; background-size: cover;
    color: #fff;
}
.cta h2{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}
.cta p{
    margin: 24px 0;
}
.classes-item {
    margin-bottom: 16px;
}
.classes-item a{
    padding: 24px 32px;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
    font-weight: 700;
    color: var(--textLight);
}
.classes-item img{
    margin-right: 16px;
}
.btn-wide{
    width:100%;
    background-color: var(--primary);
    padding: 16px 0;
    text-align: center;
    font-size: 20px;
}

.classes-article h3{
    font-size: 24px;
    font-weight: 700;
    margin:24px 0;
}
.classes-article img{
    border-radius: 6px;
}
.classes-article p{
    margin-bottom: 16px;
}
.schedule{
    background: url(assets/schedule-bg.jpg) no-repeat;
    background-size: cover;
    color: #fff;
}
.schedule .heading {
    color: #fff;
}
.weekday span{
    margin: 0 10px;
}
.weekday a{
    color:#fff;
}
.weekday .active {
    color: var(--primary);
}

table{
    max-width: 1200px;
    margin: 0 auto;
}
td{
border: 1px solid white;
padding: 40px 48px;
text-align: center;
}

.trainer-item{
    padding: 32px;
    box-shadow: 0 0 12px rgba( 0,0,0,0.1);
}

.fab{
    margin: 10px;
}

.red{
    font-weight: 700;
    font-size: 18px;
    color: var(--primary);
}
.trainer-item h5{ 
    font-size: 24px;
}

.trainer-item p{
    padding: 8px 0;
}

.margin{
    margin-right: 20px;
}
.trainer-item img{
    display: inline-block;
}


.form-container{
    background-image: url(assets/contact-bg.jpg);
    padding: 50px 120px; 
}

.form {
    background-color: white;
    padding: 32px;
}

.form-control {
    border: 1px solid rgb(226, 224, 224);
    display: block;
    width: 100%;
    margin-bottom: 24px;
    font-family: "Poppins" sans-serif;
    padding: 6px 16px;
    border-radius: 4px;
}

.padding-top {
    padding-top: 60px;
}
.copyright{
    background-color: var(--textLight);
    height: 100px;
    text-align: center;
    color:white;
    padding: 20px;
}
